<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./index.css" rel="stylesheet" />
    <!-- logo -->
    <link rel="shortcut icon" href="/static/images/logo.jpg" type="image/x-icon">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery and JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>欢迎访问此页面</title>
</head>

<body>
    <div class="root_Index">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hot</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Navigation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="http://localhost:3000/static/images/壁纸.jpg">Look a pic</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/views/me/index.html" tabindex="-1" aria-disabled="true">About me</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <input type="text" class="form-control nav-serachInput"
                            onkeypress="return searchInputEnterFunc(event)" placeholder="Search NodeWeb" />
                    </li>
                    <li class="nav-item">
                        <figure class="figure">
                            <img src="http://localhost:3000/static/images/userpic.png" class="figure-img img-fluid rounded" alt="..." />
                        </figure>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- jumbotron -->
        <div class="jumbotron">
            <h1 class="display-4">Wellcome To Yao.Xiao's Web!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <button onclick="toLogin()" type="button" class="btn btn-info">No login? Click me</button>
        </div>

        <!-- some message -->
        <div class="tips-message">
            Welcome to NodeWeb
        </div>
        <!-- line -->
        <div class="decollator">
            <hr />
        </div>

        <div class="cart-content">
            <div class="card" style="width: 18rem;">
                <img src="http://localhost:3000/static/images/card01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cherry & Architecture</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="http://localhost:3000/static/images/card02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="http://localhost:3000/static/images/card03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="http://localhost:3000/static/images/card04.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        // click button
        const toLogin = () => {
            window.location.href = 'http://localhost:3000/views/login/login.index.html';
        }

        // search enter func
        const searchInputEnterFunc = (e) => {
            // console.log(e);
            const { keyCode } = e;
            if (keyCode !== 13) return;
            alert("search value：" + $('.nav-serachInput').val());
            $('.nav-serachInput').val("");
        }
    </script>
</body>

</html>